/* originally body for centering the video element */
body {
    margin: auto;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
}
.flex-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.layer1 {
    background-color: cornflowerblue;
    padding: 50px;
    margin: auto;
    text-align: center;
}